.search{
    position: relative;
    
    input text{
        // cursor: pointer;
        

    }
}
.searchIcon{
    cursor: pointer;
    background-color: #007BFF !important;
    color:  white !important;
    padding: auto;
}
